.parentBody{
    text-align: center;
}
.balanceTrend{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    margin-top: 10vh;
    text-align: center;

}
.calendar {
    display: flex;
    justify-content: space-evenly;
}
.startDate , .endDate{
    border: 3px solid #b3ffff;
    border-radius: 5px;
}
.mainBody{
    padding-top: 8vh;

}
.chart{
    background-color: #fff;
    box-shadow: 3px 5px 5px;
}