.body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.main{
    margin-top: 10vh;
}
.chart{
    background-color: #fff;
    box-shadow: 3px 5px 5px;

}